@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@400;700&display=swap');

*, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', 'Roboto', sans-serif;
	background: var(--yellow);
}
.container-parent{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin: 5rem auto;
    margin-bottom:2rem;
}
.container-child{
    max-width:300px;
    width:100%;
}
.calculator{
    border-radius:1rem;
    box-shadow:5px 5px 12px rgba(0,0,0,0.5);
}
.calculator .display{
    background-color:aquamarine;
    padding:1rem;
    border-top-right-radius:1rem;
    border-top-left-radius:1rem;
}
.display .calculator-display{
    width:100%;
    border:0px;
    background: #3b3b3b;
    border-radius:.7rem;
    box-shadow:inset 2px 3px 5px 0px rgba(0,0,0,0.7);
    outline:none;

}
.calculator-display output{
    display:block;
    border:none;
    outline:none;
    background:transparent;
    width:100%;
}